.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
      "eight eight eight"
      "two three four"
      "six five five"
      "seven seven one";
    gap: 10px;
  }
  
  .grid div {
    background-color: #3498db;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  
  .one { grid-area: one; }
  .two { grid-area: two; }
  .three { grid-area: three; }
  .four { grid-area: four; }
  .five { grid-area: five; }
  .six { grid-area: six; }
  .seven { grid-area: seven; }
  .eight { grid-area: eight; }
  