div {
    width: 400px; 
    padding: 10px; 
    background-color: #f0f0f0; 
    color: #333; 
    margin: 10px;
    box-sizing: border-box; 
    overflow: hidden; 
    text-overflow: ellipsis; 
   

}
.text{
    width: 400px; 
    padding: 10px; 
    background-color: #f0f0f0; 
    color: #333; 
   
    box-sizing: border-box; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;  
}

