.parent{
    background-color: lightgray;
    width: 600px;
    height: 400px;
    padding: 20px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
   
}
.one{
    background-color: orange;
    flex-basis: 200px;
    display: flex;
    justify-content: center;
    align-items: start;
    align-self:flex-start;
    
   }

.two{
    background-color: green;
    flex-basis: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self:end;
}
.three{
    background-color: brown;
    flex-basis: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self:flex-end;
    
}
.four{
    background-color: purple;
    flex-basis: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self:flex-start;
    
}