body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.one {
    width: 300px;
    height: 60px;
    background-color:grey; 
    border: 6px solid white; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    box-sizing: border-box; 
}

.one span{
    display: inline block;
    font-size: 50px;
    background-color: red;
}