
.main-list {
    width: 400px;
    list-style-type: none;
    padding: 0;
    background-color: #ffffff; 
    border-radius: 5px; 
}

.main-list > li {
    background-color: #e0e0e0; 
    padding: 10px;
    font-weight: bold;
    margin: 20px;
}

.main-list ol, .main-list ul {
    margin: 0;
    padding: 0;
}

.main-list ol li, .main-list ul li {
    background-color: white;
    padding: 8px;
    margin: 10px;
}

.main-list li:last-child {
    border-bottom: none; 
}

.main-list li > ol, .main-list li > ul {
    margin-left: 20px;
}
