:root {
    --mainColor: #009688;
    --mainPadding: 10px;
}

div {
    border: 3px solid var(--mainColor, black);
    padding: var(--mainPadding, 5px);
    color: var(--mainColor, red);
    margin-bottom: 10px;
}


